@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0px;
  overflow:visible;
}


#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background:linear-gradient(#2c70d0,#00f2fe) ;
  position: relative;
}

